.draft-order-panel {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  z-index: 2;
  overflow: scroll;
  display: flex;
  flex-direction: column;

  position: relative;;
}

.draft-order-header {
  background-color: var(--bg);
  color: var(--text);
  border: 1px solid var(--border);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  font-weight: 700;
  height: fit-content;
  padding: 2px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;

  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.draft-order-round {
  background-color: var(--bg);
  border-bottom: 1px solid var(--border);
  color: var(--text);
  text-align: center;
  font-weight: 700;
  padding-top: 3px;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.35);
  height: 25px;
  width: 100%;
}

.draft-order-item {
  border-bottom: 1px solid var(--border);
  box-shadow: inset -5px -5px 5px rgba(0, 0, 0, 0.15);
  color: var(--text);
  font-weight: 700;
  height: fit-content;
  min-height: 70px;
  display: grid;
  grid-template-columns: 30px 75px 1fr 45px;
  align-items: center;
  cursor: pointer;
  background-color: var(--tertiary);
  border-left: 10px solid var(--team-color);
  border-right: 1px solid var(--border);

  transition: all 0.15s ease;
}
.draft-order-item:hover {
  border-left-width: 20px;
}

.pick-number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  height: 100%;
}

.pick-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.pick-image {
  max-width: 60%;
  max-height: 60%;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
}

.pick-player {
  text-align: end;
  padding-right: 6px;
  display: flex;
  flex-direction: column;
}

.pick-name {
  font-weight: 700;
  white-space: wrap;
}

.pick-info {
  color: rgb(80, 80, 80);
  font-weight: 500;
  white-space: nowrap;
}

.pick-player-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@media (max-width: 849px) {
  .draft-order-panel {
    flex-direction: row;
    overflow-y: hidden;
  }

  .draft-order-item {
    border-bottom: none;
  }

  .draft-order-header {
    display: none;
  }

  .draft-order-round {
    background-color: rgb(255, 255, 255);
    border-left: 5px solid black;
    border-right: 5px solid black;
    color: rgba(0, 0, 0, 0);
    box-shadow: none;
    height: 100%;
    width: 5px;
  }
}