.draft-order-panel {
  background-color: rgb(20, 20, 20);
  width: 25%;
  position: fixed;
  top: 10%;
  left: 5%;
  bottom: 6%;
  display: grid;
  border: 1px solid black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  z-index: 2;
  overflow: scroll;
}

.draft-order-header {
  background-color: white;
  border: 1px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding-top: 3px;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.35);
  position: fixed;
  top: 6%;
  left: 5%;
  height: 3.4%;
  width: 25%;
}

.draft-order-round {
  background-color: white;
  border-bottom: 3px solid black;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding-top: 3px;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.35);
  height: 25px;
  width: 100%;
}

.draft-order-item {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  padding-left: 4px;
  box-shadow: inset -5px -5px 5px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 22px;
  font-weight: 700;
  padding-left: 5px;
  height: 75px;
  display: grid;
  grid-template-columns: 30px 75px 1fr 45px;
  align-items: center;
  cursor: pointer;
}
.draft-order-item:hover {
  transform: scale(0.99);
  border: 2px solid rgb(255, 255, 255);
}

.pick-number {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

.pick-logo {
  margin: auto;
  padding-left: 5px;
  padding-top: 4px;
}

.pick-image {
  max-height: 60px;
  max-width: 65px;
}

.pick-player {
  text-align: end;
  padding-right: 6px;
  display: flex;
  flex-direction: column;
  line-height: 20px;
}

.pick-name {
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.pick-info {
  font-size: 18px;
  color: rgb(206, 206, 206);
  font-weight: 500;
  white-space: nowrap;
}

.pick-player-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}