.settings-bar {
  background-color: rgb(30, 30, 30);
  position: fixed;
  bottom: 6%;
  left: 32%;
  right: 5%;
  height: 6%;
  display: grid;
  column-gap: 8px;
  grid-template-columns: 1fr 1fr 1fr;
  z-index: 200;
}

.settings-option {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: 0.15s;
  border: 1px solid black;
  border-radius: 100px;
}

.settings-text {
  font-size: 24px;
  font-weight: 700;
}

.settings-option:hover {
  background-color: rgb(194, 194, 194);
  transform: scale(0.98);
}

.settings-option:active {
  background-color: rgb(174, 174, 174);
}

.begin {
  background-color: rgb(255, 94, 0);
  color: white;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
  font-size: 24px;
  font-weight: 700;
  box-shadow: none;
}

.begin:hover {
  background-color: rgb(230, 84, 0);
}