::-webkit-scrollbar {
  display: none;
}
* {
  scrollbar-width: none;
}

:root {
  --bg: #ffffff;
  --bgopc: 1;
  --text: #111111;
  --primary: rgb(255, 255, 255);
  --menubg: rgba(255, 255, 255, 0.4);
}

[data-theme="dark"] {
  --bg: #111111;
  --bgopc: 1;
  --text: #ffffff;
  --primary: rgb(0, 0, 0);
  --menubg: rgba(0, 0, 0, 0.8);
}

body {
  margin: 80px 0;
  background-color: var(--bg);
  font-family: 'Roboto';


  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 20px;
}

.backgroundImg {
  position: fixed;
  top: 0;

  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: var(--bgopc);
  filter: blur(0px);

  z-index: -10;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: fit-content;
  padding: 1rem;
  opacity: 100%;

  background-color: var(--menubg);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  overflow: scroll;
  z-index: 100;
}

.hamburger {
  height: 24px;
  margin-right: 10px;
  margin-left: 5px;
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.5));
  cursor: pointer;
}

.modeBtn {
  background-color: rgba(255, 255, 255, 0);
  height: fit-content;
  width: fit-content;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--text);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: box-shadow 0.15s ease;
  line-height: 0.9rem;
  margin-right: 10px;
  border-left: 2px solid #11A1B6;
  padding-left: 5px;
  text-wrap: nowrap;
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
}

.modeBtn:hover {
  box-shadow: -5px 0px 0 #11A1B6;
  font-weight: 700;
}

.welcome {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  padding: 1rem 2rem;
  border-radius: 5px;

  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 3rem;
  font-weight: 700;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
  text-align: center;
}

.welcome .small {
  font-size: 1rem;
  font-weight: 400;
  text-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.simPromo {
  width: 600px;
  height: 264px;
  background-color: rgba(0, 0, 0, 1);
  border: 1px solid #11A1B6;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
  z-index: 0;
}

.simImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.2;

  position: absolute;
  z-index: -1;
}

.simTitle {
  font-size: 2.2rem;
  font-weight: 700;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
  text-align: center;
}

.simDesc {
  font-size: 1rem;
  font-weight: 400;
  text-shadow: 0 0 5px rgba(0, 0, 0, 1);
  background-color: #11A1B6;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin: 1rem 0;
  padding: 1rem;
  text-align: center;
}

.mockBtn {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #11A1B6;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.0);
  border-radius: 5px;

  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  text-align: center;
  transition: all 0.15s ease;
  
  cursor: pointer;
}

.mockBtn:hover {
  transform: scale(1.05);
}

.promoBin {
  width: 600px;
  height: fit-content;

  display: flex;
  flex-direction: row;
  gap: 20px;

  position: relative;
}

.schedulePromo, .powerRankingPromo, .depthChartPromo {
  flex: 1;
  height: 100%;
  
  background-color: rgba(0, 0, 0, 1);
  border: 1px solid #11A1B6;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  color: white;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
}

.promoTitle {
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
  text-align: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid rgb(50, 50, 50);
  background-color: rgb(10, 10, 10);
}

.promoDesc {
  font-size: 0.9rem;
  font-weight: 400;
  text-shadow: 0 0 5px rgba(0, 0, 0, 1);
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.promoBtn {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #11A1B6;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.0);
  border-radius: 5px;
  margin: auto;
  margin-bottom: 5px;

  color: white;
  font-weight: 700;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  text-align: center;
  transition: all 0.15s ease;
  
  cursor: pointer;
}

.promoBtn:hover {
  transform: scale(1.05);
}

/* Unused */

.themeOptions {
  display: none;
  flex-direction: row;
  height: fit-content;

  position: absolute;
  left: 50vw;
  top: 30vh;
  transform: translate(-50%, -50%);
}

.themeBtn {
  width: 40px;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.25rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #11A1B6;
  cursor: pointer;
  transition: all 0.15s ease;
}

.lightTheme {
  background-color: white;
  border-top-left-radius: 5px;
}

.darkTheme {
  background-color: rgb(0, 0, 0);
  color: white;
  border-top-right-radius: 5px;
}

.themeBtn:hover {
  border-bottom: 5px solid #11A1B6;
}

.author {
  position: absolute; 
  left: 50vw;
  top: 70vh;
  transform: translateX(-50%);
  
  color: var(--text);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0);
  text-decoration: none;

  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.xLogo {
  height: 20px;
  margin-right: 10px;
  filter: drop-shadow(0 0 2px black);
  display: none;
}

@media (max-width: 849px) {
  .promoBin {
    flex-direction: column;
    width: fit-content;
  }

  .schedulePromo, .powerRankingPromo, .depthChartPromo {
    width: 100%;
  }

  .simPromo {
    width: 90%;
  }
}