.otc-header {
  width: 100%;
}

.otcPanel {
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: 15px 2fr 1fr;
  overflow: hidden;
  border-radius: 5px;
}

.chicken {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}

.setting {
  background-color: white;
  color: black;
  font-weight: 700;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 0.5rem 0 1rem;
  border: 1px solid rgb(163, 163, 163);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 5px solid rgb(255, 94, 0);
  cursor: pointer;
  transition: all 0.15s ease;
}

.setting:hover {
  border-left-width: 10px;
}

.setting.begin {
  background-color: rgb(255, 94, 0);
  color: white;
  border-left: 5px solid rgb(194, 71, 1);
}

.setting.begin:hover {
  border-left-width: 10px;
}

.otcLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.otcImage {
  max-height: 200px;
  position: absolute;
  top: 50%;
  left: -50%;
  transform: translateY(-50%);
  z-index: 0;
  opacity: 0.2;
}

.otcInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: scroll;
  padding: 5px 0px;
  row-gap: 5px;
  z-index: 1;
  scrollbar-width: none;
}

.otcInfo::-webkit-scrollbar {
  display: none;           /* Chrome, Safari */
}

.otcInfoText {
  font-weight: 700;
  color: white;
  text-shadow: 0px 0px 5px black;
}

.otcPicks, .otcNeeds {
  display: flex;
  flex-direction: column;
}

.otcPicksRow, .otcNeedsRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2px;
}

.otcPickCard, .otcNeedCard, .otcPlayerOvr, .otcPlayerPos, .otcPlayerName {
  background-color: white;
  color: black;
  height: fit-content;
  width: fit-content;
  padding: 2px 5px 2px 5px;
  border-radius: 5px;
  font-weight: 700;
  box-shadow: 0px 0px 2px black;
  cursor: default;
  transition: 0.1s ease;
}

.otcPickCard:hover, .otcNeedCard:hover, .otcPlayerOvr:hover, .otcPlayerPos:hover, .otcPlayerName:hover {
  transform: scale(0.9)
}

.otcText {
  font-size: 34px;
  font-weight: 700;
  text-align: end;
  align-self: center;
  padding: 0px 5px 0px 0px;
  color: rgba(255, 255, 255, 0.1);
  line-height: 28px;
}

.otcPlayers {
  display: flex;
  flex-direction: column;
  padding: 7px 10px 0px 0px;
  gap: 2px;
  overflow: scroll;
  color: white;
  font-weight: 700;
  text-shadow: 0px 0px 5px black;
}

.otcPlayerDiv {
  display: flex;
  flex-direction: row;
  gap: 2px;
  text-shadow: none;
}

.otcPlayerOvr {
  min-width: 20px;
  width: fit-content;
  text-align: center;
}

@media (max-width: 849px) {
  .chicken {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5px;
    margin-left: 0;
  }
  
  .setting {
    height: fit-content;
    width: 30%;
    padding: 0.25rem 0.5rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left-width: 5px;
  }

  .otcPanel {
    grid-template-columns: 15px 1fr 1fr;
  }

  .otcPlayers {
    margin-bottom: 5px;
  }
}