.players-positions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  height: fit-content;
  gap: 2px;
  margin: 5px;
}

.players-positions-button {
  background-color: var(--tertiary);
  color: var(--text);
  border-radius: 5px;
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--border);
  font-family: Roboto;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.15s ease;
}
.players-positions-button:hover {
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.3);
}
.players-positions-button:active {
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.players-players {
  background-color: rgba(30, 30, 30, 0);
  overflow: scroll;
}

.players-player-card {
  height: 55px;
  background-color: var(--tertiary);
  color: var(--text);
  margin-bottom: 2px;
  border-bottom: 1px solid var(--border);
  display: grid;
  grid-template-columns: 40px 1fr 45px 180px 45px;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: inset 0px -3px 5px rgba(0, 0, 0, 0.15);
  transition: 0.15s;
  padding-right: 10px;
}
.players-player-card:hover {
  background-color: rgba(255, 94, 0, 0.5);
}
.players-player-card:active {
  background-color: rgb(255, 94, 0);
}

.players-player-card-rank {
  text-align: end;
  font-weight: 400;
}
.players-player-card-position {
  text-align: end;
  font-weight: 500;
  margin-right: 5px;
}
.players-player-card-name {
  padding-left: 15px;
  font-weight: 700;
}
.players-player-card-school {
  font-weight: 500;
  padding-left: 5px;
  white-space: nowrap;
}

.labels {
  color: var(--text);
  font-size: 1rem;
  background-color: rgba(53, 21, 53, 0);
  grid-template-columns: 40px 1fr 45px 180px 45px;
  cursor: default;
  height: fit-content;
  padding-right: 10px;
  box-shadow: none;
}
.labels:hover {
  background-color: rgba(255, 255, 255, 0);
}

.college-image {
  max-height: 45px;
  max-width: 70%;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
  align-self: center;
  justify-self: center;
}

@media (max-width: 849px) {
  .players-positions {
    margin: 0;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .players-players {
    flex: 1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid rgb(163, 163, 163);
  }

  .players-player-card {
    font-size: 1rem;
    grid-template-columns: 10% 30% 10% 30% 20%;
    padding-right: 0px;
    margin: 0;
  }

  .labels {
    font-size: 1rem;
    grid-template-columns: 10% 30% 10% 50%;
    padding-right: 0px;
    display: none;
  }

  .players-player-card-rank {
    padding-left: 5px;
  }

  .players-player-card-name {
    overflow: scroll;
  }

  .players-player-card-position {
    text-align: end;
    padding-left: 5px;
  }

  .college-image {
    max-height: 45px;
    max-width: 50%;
  }
}