

.players-positions {
  background-color: rgba(83, 42, 83, 0);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  position: fixed;
  top: 22%;
  left: 32%;
  height: 8%;
  width: 32%;
  border: 1px solid rgba(83, 42, 83, 0);
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.players-positions-button {
  margin: 2px;
  background-color: rgb(20, 20, 20);
  color: white;
  border-radius: 5px;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.35);
  border: none;
  font-family: Roboto;
  font-weight: 700;
  padding-top: 0px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.15s;
}

.offense {
  background-color: rgb(100, 100, 100);
  color: rgb(223, 223, 223);
}
.offense:hover {
  background-color: rgb(255, 94, 0, 0.5);
}
.offense:active {
  background-color: rgb(255, 94, 0, 0.75);
}

.defense {
  background-color: rgb(70, 70, 70);
  color: rgb(223, 223, 223);
}
.defense:hover {
  background-color: rgb(255, 94, 0, 0.4);
}
.defense:active {
  background-color: rgb(255, 94, 0, 0.65);
}

.special:hover {
  background-color: rgb(255, 94, 0, 0.4);
}
.special:active {
  background-color: rgb(255, 94, 0, 0.65);
}

.players-players {
  background-color: rgba(30, 30, 30, 0);
  border-bottom: 1px solid rgb(133, 133, 133);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  overflow: scroll;
  position: fixed;
  top: 34.2%;
  left: 32%;
  bottom: 12%;
  width: 32%;
  border: none;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.players-player-card {
  height: 60px;
  background-color: rgb(20, 20, 20);
  color: rgb(223, 223, 223);
  margin-bottom: 2px;
  margin-top: 2px;
  border-bottom: 1px solid rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 40px 1fr 45px 180px 45px;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  box-shadow: inset 0px -3px 5px rgba(0, 0, 0, 0.15);
  transition: 0.15s;
  padding-right: 10px;
}
.players-player-card:hover {
  background-color: rgba(255, 94, 0, 0.5);
}
.players-player-card:active {
  background-color: rgb(255, 94, 0);
}

.players-player-card-rank {
  text-align: end;
  font-weight: 400;
}
.players-player-card-position {
  text-align: end;
  font-weight: 500;
  margin-right: 5px;
}
.players-player-card-name {
  padding-left: 15px;
  font-weight: 700;
}
.players-player-card-school {
  font-weight: 500;
  padding-left: 5px;
  white-space: nowrap;
}

.labels {
  color: rgb(255, 255, 255);
  font-size: 16px;
  background-color: rgba(53, 21, 53, 0);
  grid-template-columns: 40px 1fr 45px 240px;
  cursor: default;
  position: fixed;
  top: 30%;
  left: 32%;
  width: 32%;
  height: 4%;
  border-left: 1px solid rgb(53, 21, 53);
  border-right: 1px solid rgb(53, 21, 53);
  padding-right: 0px;
}
.labels:hover {
  background-color: rgba(255, 255, 255, 0);
}

.college-image {
  max-height: 35px;
  max-width: 40px;
  margin: auto;
}