.profile {
  background-color: rgb(20, 20, 20);
  color: rgb(223, 223, 223);
  position: fixed;
  left: 65%;
  top: 22%;
  bottom: 12%;
  right: 5%;
  display: grid;
  grid-template-rows: 90px 70px 1fr;
  row-gap: 0px;
  border-radius: 5px;
  border: none;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  border-bottom: 1px solid rgb(133, 133, 133);
  position: relative;
}

.info-image {
  max-height: 55px;
  max-width: 100px;
}

.info-info {
  margin-left: 20px;
}

.info-name {
  font-size: 22px;
  font-weight: 700;
}

.info-position-school {
  font-weight: 500;
}

.info-draft-button {
  position: absolute;
  right: 15px;
  top: 15px;
  bottom: 15px;
  display: flex;
  align-items: center;
}

.draft-button {
  height: 90%;
  width: 120px;
  background-color: rgb(255, 94, 0);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 15px;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  transition: 0.15s;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
}
.draft-button:hover {
  background-color: rgb(230, 84, 0);
  transform: scale(0.98);
}

.measurables {
  display: flex;
  flex-direction: row;
  padding-left: 25px;
  align-items: center;
  border-bottom: 1px solid rgb(133, 133, 133);
}

.measurable-item {
  margin-right: 25px;
}

.measurable-text {
  color: rgb(107, 107, 107);
  font-weight: 500;
}

.measurable-value {
  font-size: 20px;
  font-weight: 700;
  margin-top: 3px;
}

.stats {
  height: 98%;
  overflow: scroll;
}

.analysis {
  margin: 25px;
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}

.heading {
  font-weight: 700;
}

.ref {
  height: 40px;
  width: 200px;
  margin-left: 25px;
  cursor: pointer;
  background-color: rgb(255, 94, 0);
  border: none;
  border-radius: 10px;
  font-family: Roboto;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  transition: 0.15s;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
}
.ref:hover {
  background-color: rgb(230, 84, 0);
  transform: scale(0.98);
}

.fbref {
  font-weight: 700;
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}