.profile {
  background-color: var(--secondary);
  color: var(--text);
  width: 100%;
  height: 100%;
  row-gap: 0px;
  border-radius: 5px;
  overflow: scroll;
  position: relative;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--border);
  position: relative;
  gap: 10px;
}

.info-image {
  max-height: 40px;
  max-width: 70px;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
}

.info-name {
  font-size: 1.25rem;
  font-weight: 700;
}

.info-position-school {
  font-weight: 500;
}

.info-draft-button {
  display: flex;
  align-items: center;
  justify-content: end;
  flex: 1;
}

.draft-button {
  height: fit-content;
  padding: 0.5rem 1rem;
  width: fit-content;
  font-family: Roboto;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0);
  border: 1px solid rgb(163, 163, 163);
  border-left: 5px solid #11A1B6;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0);
  cursor: pointer;

  transition: all 0.15s ease;
}
.draft-button:hover {
  border-left: 10px solid #11A1B6;
}

.measurables {
  display: flex;
  flex-direction: row;
  padding: 5px 0 5px 15px;
  align-items: center;
  border-bottom: 1px solid var(--border);
  gap: 10px;
}

.measurable-text {
  color: rgb(107, 107, 107);
  font-weight: 500;
  font-size: 0.8rem;
}

.measurable-value {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 3px;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px 15px;
}

.analysis {
  font-size: 1rem;
  font-weight: 400;
}

.heading {
  font-weight: 700;
}

.ref {
  height: fit-content;
  padding: 0.5rem 1rem;
  width: fit-content;
  font-family: Roboto;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0);
  border: 1px solid rgb(163, 163, 163);
  border-left: 5px solid #11A1B6;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.15s ease;
}
.ref:hover {
  border-left: 10px solid #11A1B6;
}

.fbref {
  font-weight: 700;
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

@media (max-width: 849px) {
  .profile {
    overflow: scroll;
  }
}