.shader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

.settings-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(145deg, rgb(30, 30, 30), rgb(30, 30, 30));
  padding: 10px;
  border-radius: 16px;
  width: 50%;
  height: 75%;
  box-shadow: 0 0 200px rgba(0, 0, 0, 1);
  z-index: 999;
  border: 1px solid black;
}

.settings-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.trade-panel {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.trade-team-section {
  background-color: rgb(20, 20, 20);
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.10);
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease;
}
.trade-team-section:hover {
  transform: scale(1.01);
}

.trade-team-selector {
  height: 40px;
  width: 50%;
  margin-top: 8px;
  margin-left: 8px;
  font-size: 18px;
  font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  background-color: rgb(30, 30, 30);
  color: rgb(223, 223, 223);
  padding-left: 10px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.trade-assets {
  margin: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 5px;
  column-gap: 5px;
  overflow: scroll;
  font-family: Roboto;
  list-style-type: none;
  padding-left: 0px;
}

li {
  height: 40px;
  font-size: 16px;
  font-weight: 700;
  color: rgb(223, 223, 223);
  background: linear-gradient(145deg, rgb(30, 30, 30), rgb(30, 30, 30));
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
  padding-left: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
}
li:hover {
  background: linear-gradient(145deg, rgb(50, 50, 50), rgb(50, 50, 50));
}

.selected {
  background: linear-gradient(145deg, rgb(180, 180, 180), rgb(180, 180, 180));
  color: black;
}
.selected:hover {
  background: linear-gradient(145deg, rgb(200, 200, 200), rgb(200, 200, 200));
}
.deselected {
  background: linear-gradient(145deg, rgb(30, 30, 30), rgb(30, 30, 30));
  color: rgb(223, 223, 223);
}
.deselected:hover {
  background: linear-gradient(145deg, rgb(50, 50, 50), rgb(50, 50, 50));
}

.submit-trade,
.close-settings {
  display: block;
  width: 100%;
  margin-top: 10px;
  background: linear-gradient(to right, #590586, #a431e2);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.submit-trade:hover,
.close-settings:hover {
  background: linear-gradient(to right, #490370, #881bc3);
}