body {
  font-family: Roboto;
  background-color: rgb(30, 30, 30);
}

.startHeaderBox {
  background-color: rgb(20, 20, 20);
  position: absolute;
  top: 2vh;
  left: 5vw;
  right: 5vw;
  bottom: 87vh;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
  border: 1px solid black;
  color: rgb(223, 223, 223);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topText {
  font-size: 5vh;
  font-weight: 700;
}
.bottomText {
  font-size: 2vh;
  font-weight: 500;
}

.apple {
  background-color: rgb(30, 30, 30);
  position: absolute;
  top: 15vh;
  bottom: 5vh;
  left: 5vw;
  right: 5vw;
  display: grid;
  margin: 0px 0px 0px 0px;
  grid-template-columns: 60% 1fr;
  column-gap: 25px;
  height: 80vh;
}

.hickory {
  background-color: rgb(20, 20, 20);
  color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0px 10px 0px 10px;
  border: 1px solid black;
  overflow: scroll;
}

.smoked {
  background-color: rgb(20, 20, 20);
  color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}

.select-teams-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2vh 0px 2vh 0px;
  height: 4vh;
}

.select-main-text {
  font-size: 20px;
  margin-right: 20px;
}

.select-all {
  font-size: 18px;
  background-color: rgb(255, 94, 0);
  color: rgb(231, 231, 231);
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
  padding: 2px 10px 2px 10px;
  border-radius: 100px;
  cursor: pointer;
  text-decoration: underline;
  transition: 0.15s;
}
.select-all:hover {
  transform: scale(1.05);
}

.team-picker {
  background-color: rgb(20, 20, 20);
  width: 90%;
  height: 68vh;
  border-radius: 10px;
  border: 1px solid rgb(81, 81, 81);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 0.5vh;
  column-gap: 5px;
  margin: 0px 0px 2vh 0px;
  padding: 1vh;
}

.team-block {
  background-color: rgb(30, 30, 30);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(81, 81, 81);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: 0.1s ease;
  height: 7.7vh;
  position: relative;
}

.team-selected {
  background-color: rgb(204, 204, 204);
}

.team-block:hover {
  background-color: rgb(50, 50, 50);
  transform: scale(0.95);
}
.team-block:active {
  background-color: rgb(100, 100, 100);
}

.team-block-logo {
  max-height: 90%;
  max-width: 95%;
  object-fit: cover;
}

.teamBlockEllipsis {
  position: absolute;
  top: 5px;
  right: 2px;
  max-height: 20px;
  width: 20px;
}
.teamBlockEllipsis:hover {
  background-color: rgba(100, 100, 100, 0.75);
  border-radius: 50%;
  padding: 1px;
}
.teamBlockEllipsis:active {
  background-color: rgba(150, 150, 150, 0.75);
}

.optionBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  border-bottom: 1px solid rgba(82, 82, 82, 0.5);
  border-top: 1px solid rgba(82, 82, 82, 0.5);
  border-radius: 100px;
  padding: 10px;
  box-shadow: inset 0px 0px 60px rgba(30, 30, 30, 1);
  margin: 5px 0px 5px 0px;
}
.optionBox:hover {
  transform: scale(1.02);
}

.user-name {
  margin-bottom: 15px;
}

.pick-board {
  flex-direction: row;
}
.pick-board-text {
  margin-right: 15px;
}
.board-input {
  height: 35px;
  width: 125px;
  font-size: 16px;
  border-radius: 8px;
  background-color: rgb(255, 94, 0);
  color: white;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 100px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  padding-left: 10px;
}
.board-input:hover {
  transform: scale(1.05);
}

.optionBoxText {
  font-size: 20px;
  text-align: center;
}

.rounds-input,
.speed-input,
.user-name-input,
.autoDraftEmphasis-input,
.autoDraftVariability-input {
  width: 50%;
  min-width: 150px;
  margin: 10px 0px;
  cursor: pointer;
}
.user-name-input {
  cursor: text;
  text-align: center;
  height: 40px;
  font-size: 18px;
  border-radius: 100px;
  border: none;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
}
.user-name-input:hover {
  transform: scale(1.02);
}

input[type="range"] {
  -moz-appearance: none;
  background: transparent;
}

/* Unfilled track */
input[type="range"]::-moz-range-track {
  height: 6px;
  background: rgb(81, 81, 81);          /* dark gray for black UI */
  border-radius: 3px;
}

/* Filled portion */
input[type="range"]::-moz-range-progress {
  height: 6px;
  background: rgb(255, 94, 0);
  border-radius: 3px;
}

/* Thumb */
input[type="range"]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  background: rgb(255, 94, 0);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}


.rounds-labels,
.speed-labels,
.autoDraftEmphasis-labels,
.autoDraftVariability-labels {
  display: flex;
  justify-content: space-between;
  width: 50%;
  min-width: 150px;
}
.speed-labels,
.autoDraftEmphasis-labels,
.autoDraftVariability-labels {
  width: 55%;
}

.rounds-labels span,
.speed-labels span,
.autoDraftEmphasis-labels span,
.autoDraftVariability-labels span {
  font-size: 20px;
  text-align: center;
}

.start-button {
  min-height: 70px;
  width: 50%;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  background-color: rgb(255, 94, 0);
  color: white;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 100px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  cursor: pointer;
  margin: 0px 0px 5px 0px;
  margin-top: 15px;
}

.start-button:hover {
  transform: scale(1.05);
}