::-webkit-scrollbar {
  display: none;
}
* {
  scrollbar-width: none;
}

:root {
  --bg: #ffffff;
  --bgopc: 0.5;
  --text: #111111;
  --primary: rgba(255, 255, 255, 0.5);
  --bgurl: url('../photos/noise6.jpg');
  --secondary: rgb(250, 250, 250);
  --tertiary: rgb(245, 245, 245);
  --border: rgb(163, 163, 163);
  --hover: rgb(206, 206, 206);
}

[data-theme="dark"] {
  --bg: #111111;
  --bgopc: 0.2;
  --text: #ffffff;
  --primary: rgba(0, 0, 0, 0.5);
  --bgurl: url('../photos/darkNoise.jpg');
  --secondary: rgb(0, 0, 0);
  --tertiary: rgb(15, 15, 15);
  --border: rgb(25, 25, 25);
  --hover: rgb(50, 50, 50);
}

body {
  font-family: Roboto;
  margin: 5vh;
  overflow: scroll;
  position: relative;

  background-color: var(--bg);
}

body::before {
  content: "";
  position: fixed; /* or absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: var(--bgurl);
  background-size: cover;
  background-position: center;

  opacity: var(--bgopc); /* adjust here */
  z-index: -1;
}

.apple {
  background-color: rgba(30, 30, 30, 0);
  max-height: 90vh;

  display: flex;
  column-gap: 25px;
}

.hickory {
  background-color: var(--primary);
  color: var(--text);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0px 10px;
  border: 1px solid var(--border);
  overflow: scroll;
  flex: 1;

  position: relative;
}

.smoked {
  background-color: var(--primary);
  color: var(--text);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border);

  width: fit-content;
  min-width: 50%;
  height: fit-content;
}

.select-teams-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 1.5rem;
  height: 4vh;
}

.select-main-text {
  font-size: 1rem;
  margin-right: 5px;
}

.select-all {
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--secondary);
  color: var(--text);
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0);
  padding: 2px 0.5rem;
  border-left: 5px solid rgb(255, 94, 0);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  text-decoration: underline;
  transition: 0.15s;
}
.select-all:hover {
  border-left: 10px solid rgb(255, 94, 0);
}

.team-picker {
  background-color: var(--secondary);
  width: 90%;
  height: fit-content;
  border-radius: 10px;
  border: 1px solid var(--border);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 0.5vh;
  column-gap: 5px;
  margin: 0px 0px 2vh 0px;
  padding: 1vh;

  align-self: center;
}

.team-block {
  background-color: var(--tertiary);
  border-radius: 5px;
  padding: 0 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: 0.1s ease;
  height: 50px;
  position: relative;
}

.team-block:hover {
  background-color: var(--hover);
  transform: scale(0.95);
}

.team-block-logo {
  max-height: 80%;
  max-width: 80%;
  object-fit: cover;
}

.teamBlockEllipsis {
  position: absolute;
  top: 2px;
  right: 0px;
  max-height: 20px;
  width: 20px;
  filter: drop-shadow(0 0 2px black);
}
.teamBlockEllipsis:hover {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 50%;
  padding: 1px;
}
.teamBlockEllipsis:active {
  background-color: rgba(150, 150, 150, 0.75);
}

.optionBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 10px;
  background-color: var(--secondary);
  margin: 5px 0px 5px 0px;
  color: var(--text);
}
.optionBox:hover {
  transform: scale(1.02);
}

.user-name {
  margin-bottom: 15px;
}

.pick-board {
  flex-direction: row;
}
.pick-board-text {
  margin-right: 15px;
}
.board-input {
  height: 35px;
  width: 125px;
  font-size: 1rem;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border: none;
  border-left: 5px solid rgb(163, 163, 163);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 10px;
  transition: all 0.15s ease;
}
.board-input:hover {
  border-left-width: 10px;
}

.optionBoxText {
  font-size: 1rem;
  text-align: center;
}

.rounds-input,
.speed-input,
.user-name-input,
.autoDraftEmphasis-input,
.autoDraftVariability-input {
  width: 50%;
  min-width: 150px;
  margin: 4px 0px;
  cursor: pointer;
}
.user-name-input {
  cursor: text;
  text-align: center;
  height: fit-content;
  padding: 0.5rem 0;
  font-size: 1rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: fit-content;
  border: none;
  border-left: 5px solid rgb(163, 163, 163);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.15s ease;
}
.user-name-input:hover {
  border-left-width: 10px;
}

input[type="range"] {
  -moz-appearance: none;
  background: transparent;
}

input[type="range"]::-moz-range-track {
  height: 6px;
  background: var(--hover);
  border-radius: 3px;
}

input[type="range"]::-moz-range-progress {
  height: 6px;
  background: rgb(255, 94, 0);
  border-radius: 3px;
}

input[type="range"]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  background: rgb(255, 94, 0);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb:hover {
  transform: scale(1.2);
}

.rounds-labels,
.speed-labels,
.autoDraftEmphasis-labels,
.autoDraftVariability-labels {
  display: flex;
  justify-content: space-between;
  width: 50%;
  min-width: 150px;
}
.speed-labels,
.autoDraftEmphasis-labels,
.autoDraftVariability-labels {
  width: 55%;
}

.rounds-labels span,
.speed-labels span,
.autoDraftEmphasis-labels span,
.autoDraftVariability-labels span {
  font-size: 1rem;
  text-align: center;
}

.start-button {
  height: fit-content;
  padding: 0.5rem;
  width: fit-content;
  font-family: Roboto;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: var(--secondary);
  color: var(--text);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0);
  border: none;
  border-left: 5px solid rgb(255, 94, 0);
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0);
  cursor: pointer;
  margin: 15px 0px 5px 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  transition: all 0.15s ease;
  align-self: start;
}

.start-button:hover {
  border-left: 10px solid rgb(255, 94, 0);
}

@media (max-width: 849px) {
  .apple {
    flex-direction: column;
    row-gap: 25px;
    height: fit-content;
    max-height: none;
  }

  body {
    margin: 20px;
  }

  .smoked {
    width: 100%;
  }

  .team-block {
    height: 35px;
  }

  .optionBox {
    width: 90%;
  }
}