::-webkit-scrollbar {
  display: none;
}
* {
  scrollbar-width: none;
}

:root {
  --bg: #ffffff;
  --bgopc: 0.5;
  --text: #111111;
  --primary: rgba(255, 255, 255, 0.5);
  --bgurl: url('../photos/noise6.jpg');
  --secondary: rgba(255, 255, 255, 0.5);
  --tertiary: rgb(245, 245, 245);
  --border: rgb(163, 163, 163);
  --hover: rgb(206, 206, 206);
  --summaryHover: rgba(0, 0, 0, 0.5);
  --nextLast: rgba(0, 0, 0, 0.175);
}

[data-theme="dark"] {
  --bg: #000000;
  --bgopc: 0.2;
  --text: #ffffff;
  --primary: rgba(0, 0, 0, 0.5);
  --bgurl: url('../photos/darkNoise.jpg');
  --secondary: rgba(0, 0, 0, 0.5);
  --tertiary: rgb(10, 10, 10);
  --border: rgb(48, 48, 48);
  --hover: rgb(50, 50, 50);
  --summaryHover: rgba(59, 59, 59, 0.5);
  --nextLast: rgba(255, 255, 255, 0.175);
}

body {
  font-family: Roboto;
  overflow: scroll;
  position: relative;

  display: flex;
  flex-direction: column;
  background-color: var(--bg);
}

body::before {
  content: "";
  position: fixed; /* or absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: var(--bgurl);
  background-size: cover;
  background-position: center;

  opacity: var(--bgopc); /* adjust here */
  z-index: -1;
}

.summaryHeaderText {
  text-align: center;
  font-size: 1rem;
  color: var(--text);
  margin-top: 5px;
}

.everything {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.roundSumContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: min(100%, 600px);
  margin: 5px;
}

.nextLastBtns {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.round-summary,
.ts-summary {
  background-color: rgb(0, 0, 0);
  width: min(100%, 600px);
  height: fit-content;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 0 10px;
  cursor: default;
  transition: transform 0.15s ease;
}

.team-summary {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.ts-summary {
  height: auto;
  width: min(100%, 450px);
}

.round-summary:hover,
.ts-summary:hover {
  box-shadow: 0 0 20px var(--summaryHover);
}

.rs-header {
  background-color: rgb(31, 31, 31);
  padding: 5px;
  height: 30px;
  color: rgb(255, 255, 255);
  font-size: 1.75rem;
  font-weight: 700;
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.ts-header {
  font-size: 1.5rem;
  height: 25px;
}

.rsh-left {
  display: flex;
  flex-direction: row;
}

.rsh-score {
  font-size: 14px;
  display: flex;
  align-items: end;
  padding-left: 10px;
  padding-bottom: 2px;
  font-weight: 500;
}

.score-bold {
  font-size: 18px;
  font-weight: 800;
}

.rs-header-author {
  font-size: 0.9rem;
  text-align: end;
  line-height: 1rem;
  padding-right: 10px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.ts-author {
  font-size: 0.8rem;
  line-height: 0.9rem;
}

.rs-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(16, 1fr);
  grid-auto-flow: column;
  list-style-type: none;
  column-gap: 2px;
  background-color: rgba(0, 0, 0, 0);
}

.rs-pick,
.ts-pick {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 700;
  height: 45px;
  display: grid;
  grid-template-columns: 10px 35px 30px 1fr 30px;
  align-items: center;
  padding-right: 5px;
  border-top: 1px solid rgb(0, 0, 0);
}

.ts-pick {
  border-right: none;
  height: 50px;
  grid-template-columns: 10px 50px 50px 1fr 50px;
}

.rs-pick-colorBar {
  width: 10px;
  height: 100%;
}

.rs-pick-number {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rs-pick-image {
  max-width: 100%;
  max-height: 40px;
  justify-self: center;
}

.rs-school-image {
  max-width: 100%;
  max-height: 35px;
  justify-self: center;
}

.rs-pick-player {
  padding-left: 10px;
  line-height: 1.2rem;
  overflow: hidden;
  white-space: nowrap;
}

.rs-pick-name {
  padding-right: 5px;
}

.rs-pick-info {
  color: rgb(109, 109, 109);
  font-size: 0.9rem;
}

.rs-footer {
  background-color: white;
  color: black;
  padding: 5px;
  height: 20px;
  border-top: 1px solid black;
  font-size: 14px;
  font-weight: 500;
  padding-left: 15px;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.next-summary,
.last-summary {
  background-color: var(--nextLast);
  height: fit-content;
  width: fit-content;
  padding: 0.25rem 1rem;
  background-color: white;
  color: black;
  font-weight: 700;
  border: 1px solid rgb(163, 163, 163);
  border-left: 5px solid rgb(255, 94, 0);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.15s ease;
}

.last-summary {
  opacity: 0;
  cursor: default;
  border-left: none;
  border-radius: 0px;
  border: 1px solid rgb(163, 163, 163);
  border-right: 5px solid rgb(255, 94, 0);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.next-summary:hover {
  border-left-width: 10px;
}

.last-summary:hover {
  border-right-width: 10px;
}

.ts-team-select {
  margin: 10px;
  height: 40px;
  width: 300px;
  background-color: rgba(250, 250, 250, 1);
  border: 1px solid rgb(163, 163, 163);
  border-left: 5px solid rgb(255, 94, 0);
  color: rgb(0, 0, 0);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-left: 15px;
  font-size: 1.25rem;
  transition: 0.15s ease;
  cursor: pointer;
}

option {
  color: rgb(0, 0, 0);
}

.ts-team-select:hover {
  border-left-width: 10px;
}

.ts-pick:nth-last-child(-n + 1) {
  border-bottom: none;
}

.ts-trades,
.rs-trades {
  height: auto;
  background-color: white;
}

.tst-header {
  height: 40px;
  font-size: 26px;
  padding-left: 10px;
  text-decoration: underline;
}

.tst-item {
  margin: 5px 10px 10px 10px;
  font-size: 18px;
  padding: 0px;
  line-height: 24px;
}

.bold {
  font-weight: 700;
}

.optionBtns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.newDraftBtn {
  height: fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 700;
  background-color: rgb(250, 250, 250);
  color: rgb(0, 0, 0);
  border: 1px solid rgb(163, 163, 163);
  border-left: 5px solid rgb(255, 94, 0);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  transition: 0.15s ease;
  align-self: end;
}

.newDraftBtn:hover {
  border-left-width: 10px;
}

@media (max-width: 849px) {
  .everything {
    flex-direction: column;
  }
  .rs-pick {
    grid-template-columns: 6px 20px 20px 1fr 20px;
    height: 32px;
  }
  .ts-pick {
    height: 40px;
    grid-template-columns: 10px 30px 40px 1fr 35px;
  }
  .rs-pick-colorBar {
    width: 6px;
  }
  .rs-pick-colorBar.ts {
    width: 10px;
  }
  .rs-pick-number {
    font-size: 0.8rem;
  }
  .rs-pick-number.ts {
    font-size: 1rem;
  }
  .rs-pick-image {
    max-height: 25px;
  }
  .rs-pick-image.ts {
    max-height: 30px;
  }
  .rs-pick-player {
    line-height: 0.8rem;
  }
  .rs-pick-player.ts {
    line-height: 1rem;
  }
  .rs-pick-name {
    font-size: 0.8rem;
  }
  .rs-pick-name.ts {
    font-size: 1rem;
  }
  .rs-pick-info {
    font-size: 0.7rem;
  }
  .rs-pick-info.ts {
    font-size: 0.8rem;
  }
  .rs-school-image {
    max-height: 25px;
  }
  .rs-school-image.ts {
    max-height: 30px;
  }
  .rs-footer {
    padding: 0.25rem 0px;
    height: 15px;
    font-size: 0.8rem;
  }
  .rs-header {
    padding: 5px;
    height: 20px;
    font-size: 1.25rem;
    font-weight: 700;
    padding-left: 15px;
  }
  .rs-header-author {
    font-size: 0.8rem;
    line-height: 0.9rem;
  }
  .team-summary {
    align-items: center;
    align-self: center;
    margin-bottom: 20px;
  }
}