.tradePage {
  height: 90vh;
  flex: 1;
  background-color: rgba(240, 128, 128, 0);
  display: flex;
  flex-direction: column;
  gap: 5px;
  grid-template-columns: 1fr 10px 1fr;
}

.tradeHeader {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 10px 1fr;
  gap: 5px;
  position: relative;
}

.tradeBottom {
  width: 100%;
  flex: 1;
  display: grid;
  gap: 5px;
  overflow: hidden;
  grid-template-columns: 1fr 10px 1fr;
  position: relative;
}

.headerDivider {
  background-color: var(--primary);
  border: 1px solid var(--border);
}

.headerHalf {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  background-color: var(--primary);
  border: 1px solid var(--border);
}

.headerHalf1 {
  padding: 10px 40px 10px 10px;
}
.headerHalf2 {
  padding: 10px 10px 10px 40px;
}

.selectedCurrentPicks, .selectedFuturePicks, .selectedPlayers {
  width: fit-content;
}

.selectedCurrentPicks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: fit-content;
  width: min-content;
  gap: 5px;
  margin-right: 5px;
}

.tpcSummary {
  width: 50px;
}

.selectedFuturePicks {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.fpcSummary {
  margin: 0px 0px 5px 0px;
  height: 22px;
}

.selectedPlayers {
  display: flex;
  flex-direction: column;
}

.rpSummary {
  margin-bottom: 5px;
  min-height: fit-content;
  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  cursor: default;
}

.tradeSubmitBtn {
  position: absolute;
  align-self: start;
  justify-self: center;
  margin-top: 10px;
  width: 80px;
  height: 35px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  transition: all 0.15s ease;
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(163, 163, 163);
  border-left: 5px solid rgb(255, 94, 0);
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.tradeSubmitBtn:hover{
  border-left-width: 10px;
}

.tradeValueCalc {
  position: absolute;
  justify-self: center;
  align-self: end;
  height: 35px;
  width: 80px;
  border-radius: 5px;
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(163, 163, 163);
  cursor: default;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.1s ease;
  padding: 2px 0px 2px 0px;
}

.tradeValueText {
  color: rgb(39, 39, 39);
  font-size: 12px;
  font-weight: 500;
}

.tradeValueBalance {
  font-size: 20px;
  font-weight: 700;
}

.tradeCloseBtn {
  position: absolute;
  height: 24px;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: 0.1s ease;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
  background-color: rgba(0, 0, 0, 0);
}

.tradeCloseBtn:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

.tradeHalf {
  padding: 10px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  background-color: var(--primary);
  border: 1px solid var(--border);
}

.team1 {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.team2 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.divider {
  background-color: var(--primary);
  border: 1px solid var(--border);
}

.teamSelect {
  min-height: 30px;
  font-size: 16px;
  font-weight: 500;
  width: fit-content;
  padding: 0px 10px 0px 10px;
  background-color: rgb(250, 250, 250);
  color: rgb(0, 0, 0);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid rgb(163, 163, 163);
  border-left: 5px solid rgb(255, 94, 0);
  cursor: pointer;
  transition: all 0.15s ease
}

.teamSelect:hover {
  border-left-width: 10px;
}

.teamTradePage {
  color: var(--text);
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 849px) {
  .tradeBottom {
    grid-template-columns: none;
    grid-template-rows: 1fr 10px 1fr;
  }

  .tradeCloseBtn {
    top: 45px;
  }
}