::-webkit-scrollbar {
  display: none;
}
* {
  scrollbar-width: none;
}

html {
  font-family: Roboto;
  color: white;
}

body {
  background-color: black;
  margin-top: 12vh;
  overflow: scroll;
  margin-bottom: 0;
  gap: 0;
}

.menu {
  position: absolute;
}

.backgroundImg {
  opacity: 0.2;
}

.title {
  color: white;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.title span {
  font-size: 1rem;
  font-weight: 400;
  color: white;
}

.downloadBtn {
  background-color: white;
  color: black;
  border-left: 5px solid #11A1B6;
  padding: 5px 10px;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.15s ease;
}

.downloadBtn:hover {
  border-left-width: 10px;
}

.content {
  background-color: rgb(30, 30, 30);
  color: white;
  width: 80vw;
  height: 87vh;
  min-height: 530px;
  padding: 0.5vh;
  margin: 10px 0;

  display: flex;
  flex-direction: row;
  gap: 2px;
}

.games {
  background-color: rgb(0, 0, 0);
  width: 40%;
  min-width: 420px;
  display: flex;
  flex-direction: column;
}

.games .header {
  background-color: rgb(30, 30, 30);
  color: white;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  height: fit-content;
  width: auto;
  padding: 0.5rem;
  margin: 5px;
  overflow: scroll;
}

.header .week {
  background-color: rgb(60, 60, 60);
  font-size: 0.8rem;
  height: fit-content;
  width: fit-content;
  padding: 0.5rem;
  text-wrap: nowrap;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid rgb(90, 90, 90);
}

.games .list {
  background-color: rgb(30, 30, 30);
  flex: 1;
  width: auto;
  margin: 0px 5px 5px 5px;
  padding: 2px 5px 5px 5px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  overflow: scroll;
}

.games .fixture {
  background-color: rgb(60, 60, 60);
  min-height: 40px;
  width: auto;
  display: grid;
  grid-template-columns: 40px 40px 1fr 1fr;
  align-items: center;
  border-radius: 2px;
}

.fixture.labels {
  min-height: fit-content;
  background-color: transparent;
  font-size: 0.8rem;
  pointer-events: none;
  color: white;
  text-align: center;
}

.fixture .day {
  justify-self: end;
  padding-right: 5px;
}

.fixture .away, .fixture .home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
}

.away:hover, .home:hover {
  text-shadow: 0px 0px 5px #ffffff;
}

.away img, .home img {
  height: 1.2rem;
  filter: drop-shadow(1px 1px 1px rgb(0, 0, 0, 0.5))
}

.away .team, .home .team {
  font-size: 1rem;
  font-weight: 700;
  padding-left: 5px;
}

.away .record, .home .record {
  font-size: 0.8rem;
  padding-left: 5px;
}

.summary {
  background-color: black;
  flex: 1;
  display: flex;
  flex-direction: row;
  cursor: default;
}

.summary .standings {
  width: 40%;
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-auto-flow: column;
  gap: 5px;
}

.division {
  background-color: rgb(30, 30, 30);
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 2px;
  border-radius: 5px;
}

.division .header, .division .team {
  flex: 1;
  background-color: rgba(60, 60, 60, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.division .header {
  flex: none;
  height: fit-content;
  background-color: transparent;
}

.division .team {
  display: grid;
  grid-template-columns: 1fr 2.5rem 3fr 3fr;
  font-size: 0.9rem;
  justify-items: center;
}

.team img {
  max-height: 1rem;
  max-width: 1.8rem;
  justify-self: center;
}

.team .name {
  justify-self: flex-start;
}

.summary .postseason {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.postseason .playoffs {
  background-color: rgb(30, 30, 30);
  height: 50%;
  margin: 5px 5px 0 0 ;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  border-radius: 5px;
}

.playoffs .header, .draftOrder .header {
  height: fit-content;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding: 0.5rem 0;
}

.playoffs .matchups {
  flex: 1;
  margin: 0 5px 5px 5px;
  display: flex;
  flex-direction: column;
}

.matchups .superBowl {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.sbTeam {
  width: 75px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 0 0 5px black;
  background-color: rgb(60, 60, 60);
  border-radius: 5px;
  cursor: pointer;
  pointer-events: none;
}

.sbTeam img {
  max-height: 40px;
  max-width: 65px;
}

.sbTeam:hover {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
}

.sbTeam:active {
  box-shadow: inset 0 0 20px black;
}

.sbLogo {
  max-height: 50px;
}

.matchups .bracket {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0 5px;
}

.afcBracket, .nfcBracket {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.round {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.round .game {
  background-color: rgb(60, 60, 60);
  border-radius: 5px;
  overflow: hidden;
  height: 45px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.game .playoffTeam {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-shadow: 0 0 5px black;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.15s ease;
  pointer-events: none;
}

.playoffTeam:hover {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
}

.playoffTeam:active {
  box-shadow: inset 0 0 20px black;
}

.playoffTeam img {
  max-height: 15px;
  max-width: 30px;
}

.url {
  height: 0px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.urlText{
  position: absolute;
  bottom: 0;
  font-weight: 500;
}

.postseason .draftOrder {
  background-color: rgb(30, 30, 30);
  flex: 1;
  margin: 0px 5px 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.draftOrder .header {
  padding: 2px 0 0 0;
}

.draftOrder .order {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 150px);
  grid-template-rows: repeat(9, 1fr);
  grid-auto-flow: column;
  gap: 2px;
  margin: 0 5px 5px 5px;
}

.order .slot {
  display: grid;
  grid-template-columns: 25px 20px 1fr 40px;
  font-size: 0.9rem;
  align-items: center;
  background-color: rgba(60, 60, 60, 0.4);
  font-weight: 700;
}

.slot img {
  max-height: 1rem;
  max-width: 20px;
  justify-self: center;
}

.slot .rank, .slot .name {
  padding-left: 5px;
}

.slot .record {
  text-align: end;
  padding-right: 5px;
}