::-webkit-scrollbar {
  display: none;
}
* {
  scrollbar-width: none;
}

html {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  color: white;
}

body {
  background-color: rgb(30, 30, 30);
  margin: 0;
  overflow: scroll;

  display: flex;
  justify-content: center;
}

.headerText {
  color: white;
  font-weight: 400;
  text-align: center;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}

.summary {
  margin: 2vh 0;

  height: 600px;
  aspect-ratio: 3/4;
  border-radius: 20px;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;

  transition: all 0.15s ease;
}

.summary:hover {
  box-shadow: 0 0 30px black;
}

.header, .record, .footer {
  width: 100%;
  height: 40px;
  background-color: #4F2683;
  border-bottom: 1px solid black;
  text-align: center;
  align-content: center;
  font-size: 1.3rem;
  font-weight: 700;
  text-shadow: 0 0 5px black;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerLogo {
  height: 30px;
  margin-right: 10px;
  filter: drop-shadow(0 0 2px black);
}

.record {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-shadow: none;
  font-size: 1.2rem;
  height: 30px;
}

.results {
  width: 100%;
  flex: 1;
  background-color: rgb(255, 255, 255);

  display: flex;
  flex-direction: row;
}

.home, .away {
  flex: 1;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.text {
  color: black;
  height: 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gamesBox {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 5px;
}

.game {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 2.9rem;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 2px black;
}

.team {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
}

.team.loss {
  filter: grayscale(100%);
  opacity: 0.6;
}

.logo {
  max-height: 2.3rem;
  max-width: 70%;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 1));
}

.outcome {
  width: 10px;
  height: 100%;
}

.outcome.win {
  background-color: rgb(0, 255, 0);
}

.outcome.loss {
  background-color: rgb(255, 0, 0);
}

.footer {
  border-bottom: none;
  border-top: 1px solid black;
  font-size: 1rem;
  font-weight: 500;
  height: 30px;
}

.buttonsRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  width: 450px;
  margin: 2vh 0;
}

.button {
  height: 4rem;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #11A1B6;
  font-size: 1.5rem;
  text-shadow: 0 0 5px black;
  border-radius: 20px;
  box-shadow: 0 0 10px black;
  cursor: pointer;
  transition: transform 0.15s ease;
}

.button:hover {
  transform: scale(1.05);
}